{% load static %}
<footer class="footer">
    <h4>لینک ها</h4>
    <ul class="list">
    {% if user.is_authenticated %}
    <li class="list-1"><a href="{% url 'accounts:logout' %}">خروج</a></li>
    <li class="list-1"><a href="{% url 'accounts:profile' user.username %}">مشاهده پنل کاربری</a></li> 
    {% if user.is_staff %}
    <li class="list-1"><a href="{% url 'admin:index' %}">مشاهده داشبورد سایت</a></li> 
    {% endif %}
    {% else %}
    <li class="list-1"><a href="{% url 'accounts:register' %}">ثبت نام</a></li>
    <li class="list-1"><a href="{% url 'accounts:login' %}">ورود</a></li>
    {% endif %}
    </ul>
    <img src="{% static 'qr/qr-code.png' %}" alt="" height="100" width="100">
</footer>
