<header class="header">
<ul class="list">
    <li><a href="#start-contents">رسیدن به محتوا</a></li>
    <li class="list-1">خدمات</li>
    <ul>
        <li class="list-2"><a href="{% url 'blog:blog' %}">وبلاگ</a>
            <ul>
            <li class="list-3"><a href="{% url 'blog:post-list' %}">لیست آخرین پست ها</a></li>
            <li class="list-3"><a href="">داشبورد من</a></li> <!-- TODO -->
            <li class="list-3"><a href="{% url 'blog:post-create' %}">نوشتن پست</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li class="list-2"><a href="">پرسش و پاسخ</a>
            <ul>
            <li class="list-3"><a href="">لیست آخرین پرسش ها</a></li> <!-- TODO -->
            <li class="list-3"><a href="">داشبورد من</a></li> <!-- TODO -->
            <li class="list-3"><a href="">پرسیدن سوال</a></li> <!-- TODO -->
            </ul>
        </li>
    </ul>
    <ul>
        <li class="list-2"><a href="">DevGit</a>
            <ul>
            <li class="list-3"><a href="">دِوگیت من</a></li> <!-- TODO -->
            <li class="list-3"><a href="">ساخت مخزن دِوگیت جدید</a></li> <!-- TODO -->
            <li class="list-3"><a href="">مخازن دِوگیت عمومی</a></li> <!-- TODO -->
            </ul>
        </li>
    </ul>
    <ul>
        <li class="list-2"><a href="">دِوفرم</a>
            <ul>
            <li class="list-3"><a href="">داشبورد من</a></li> <!-- TODO -->
            <li class="list-3"><a href="">ساخت فرم جدید</a></li> <!-- TODO -->
            <li class="list-3"><a href="">لیست فرم های عمومی</a></li> <!-- TODO -->
            </ul>
        </li>
    </ul>
    <ul>
        <li class="list-2"><a href="">Api</a>
            <ul>
            <li class="list-3"><a href="">داشبورد من</a></li> <!-- TODO -->
            <li class="list-3"><a href="">مستندات</a></li> <!-- TODO -->
            </ul>
        </li>
    </ul>
    <ul>
        <li class="list-2"><a href="">اشتراک</a>
            <ul>
            <li class="list-3"><a href="">خرید اشتراک</a></li> <!-- TODO -->
            <li class="list-3"><a href="">مشاهده پلن ها</a></li> <!-- TODO -->
            <li class="list-3"><a href="">مشاهده </a></li> <!-- TODO -->
            </ul>
        </li>
    </ul>
</ul>
</header>