@font-face {
    font-family: Vazir;
    src: url(../font/Vazir.ttf);
}

* {
    margin: 0;
    font-family: Vazir;
    transition: all ease 2s;
}   
body {
    overflow-x: hidden;
}
.header {
    background-color: #0f0f10;
}
.list *{
    font-size: 20px;
    color: #fcfcfc;
    text-decoration: none;
}
.main {
    padding: 20px;
    background-color: #222529;
    color: #ffeb3b;
}
.footer {
    background-color:#0f0f10;
}
.footer * {
    color: #ffffff;
}
.not-found {
    padding: auto;
    color: red;
    text-align: center;
}